.sidebar.pull-left.hide-for-small-only
  .author-summary
    = link_to @user do
      = image_tag @user.avator
    %h5
      = link_to @user do
        - if @user.username.blank?
          匿名
        - else
          = @user.username
    .author-count
      %p
        %span
          文章数
          %strong= @user.articles.length
      %p
        %span
          总字数
          %strong#user-word-count= @user.words_count
    %p= @user.desc
    .author-links
      = mail_to @user.email do
        %i.fa.fa-envelope
      = link_to @user.github do
        %i.fa.fa-github
      %a.author-webchat{:href => '#'}
        %i.fa.fa-weixin
        = image_tag(@user.webchat)
.notebooks-wrap
  .notebooks
    - @articles.each_with_index do |item, i|
      .notebook
        %h4
          = link_to user_notebook_path(id: @user.id) do
            = item.title
          %p
            = item.authors
            %small= item.citation
        .meta
          %p
            = link_to user_path(id: @user.id), class: 'author-name' do
              = item.user.username
            %span 创建于
            = format_date item.created_at
            %span ，上次更新于
            = format_date item.updated_at
            %span ，共
            = item.notes.length
            %span 条笔记
      - if i < @articles.length - 1
        %hr

  = render "layouts/pager"

= content_for :title, '阅台 · 记录想法 分享点滴'
