= content_for :title, '阅台 · 记录想法 分享点滴'
= render "layouts/user_sidebar"

.notebooks-wrap
  .notebook
    %h4
      = @notebook.title
      %p
        = @notebook.authors
        %small= @notebook.citation.split(':')[1]
    .meta
      %p
        = link_to user_path(id: @user.id), class: 'author-name' do
          = @notebook.user.username
        %span 创建于
        = format_date @notebook.created_at
        %span ，上次更新于
        = format_date @notebook.updated_at
        %span ，共
        = @notebook.notes.length
        %span 条笔记
    %hr
    .notes
      - @articles.each_with_index do |item, i|
        .note

  = render "layouts/pager"
