#main-content.articles-wrap
  .sidebar.pull-left.hide-for-small-only
    .hot-tags
      - @tags.each do |tag|
        = link_to tag_path(tag.id) do
          %span.label.round= tag.name
    .hot-authors
      %table
        %thead
          %tr
            %th 作者
            %th 文章
            %th 字数
        %tbody
          - @authors.each do |author|
            %tr
              %td
                = link_to author do
                  = author.username
              %td= author.articles.length
              %td
                = (author.words_count/10000).to_s + '.' + (author.words_count%10000/100).to_s + '万'
  #y-articles.articles
    .loading
      %i.fa.fa-spinner.fa-spin

  = render "layouts/pager"

= render "layouts/article"

- blogs_json = render template: "articles/index", formats: [:json], handlers: [:jbuilder]

= content_for :js_ext do
  :javascript
    $(document).ready(function () {
      var blogs_view = new Yuetai.Views.Blogs.BlogsView(#{blogs_json});
    });
    $('.articles-btn').addClass('active');

= content_for :title, '阅台 · 记录想法 分享点滴'
