.article
  .row.wrap
    .large-12.columns
      %h3= @article.name.html_safe
      .meta
        %p
          = link_to author_path(@article.author.id), :class => 'label' do
            = @article.author.name.html_safe
      .body
        = @article.body.html_safe
      .music
        = @article.music_script.html_safe
    .large-12.columns
      .ds-thread{:'data-thread-key' => '', :'data-title' => '', :'data-url' => ''}

:javascript
  var duoshuoQuery = {short_name:"wendycan"};
      (function() {
          var ds = document.createElement('script');
          ds.type = 'text/javascript';ds.async = true;
          ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.unstable.js';
          ds.charset = 'UTF-8';
          (document.getElementsByTagName('head')[0]
           || document.getElementsByTagName('body')[0]).appendChild(ds);
      })();
