.container.article-wrap
  .sidebar.pull-left.hide-for-small-only
    .author-summary
      = link_to @user do
        = image_tag @user.avator
      %h5
        = link_to @user.username, @user
      .author-count
        %p
          %span
            文章数
            %strong= @user.articles.length
        %p
          %span
            总字数
            %strong#user-word-count= @user.words_count
      %p= @user.desc
      .author-links
        = mail_to @user.email do
          %i.fa.fa-envelope
        = link_to @user.github do
          %i.fa.fa-github
        %a.author-webchat{:href => '#'}
          %i.fa.fa-weixin
          = image_tag(@user.webchat)
  #main-content.article-primary-theme
    .loading
      %i.fa.fa-spinner.fa-spin
  .article-category.hide
    .article-category-btn.text-right
      %a{:href => "javascript:;"}
        %i.fa.fa-list
    .article-category-content.hide

- blog_json = render template: "articles/show", formats: [:json], handlers: [:jbuilder]

= content_for :js_ext do
  :javascript
    $(document).ready(function () {
      var blogs_view = new Yuetai.Views.Blogs.BlogView(#{blog_json});
      $('.articles-btn').addClass('active');
      $('#user-word-count').text(formatNumberByTenThousand($('#user-word-count').text()))
    });

= content_for :title, @blog.title

%script{type: 'text/template', id: 't-blog-show'}
  .article
    %h4 {{= blog.title }}
    .article-meta
      %span {{= blog.date }}
      %span {{= blog.visited_count }} 次阅读
      %span {{= blog.tag_list }}
    .article-body
      {{= blog.body }}


