.article
  .row.wrap
    .large-12.columns
      %h3= @article.name
      .article-meta
        %p
          = link_to author_path(@article.author.id), :class => 'label' do
            = @article.author.name
      .article-body
        %p= @article.body
      .article-music
        = @article.music_script
