.author.wrap
  .meta.row
    .large-12.columns
      %h3= @author.name.html_safe
      - if !@author.email.nil?
        %p= @author.email.html_safe
  .articles.row.wrap
    .large-12.columns
      %ul.large-block-grid-4
        - @author.articles.each do |article|
          %li
            = link_to article_path(article.id) do
              %h5= article.name.html_safe
              .body
                = truncate(article.body, length: 100, escape: false)
    .large-12.columns
      .ds-thread{:'data-thread-key' => '', :'data-title' => '', :'data-url' => ''}

:javascript
  var duoshuoQuery = {short_name:"wendycan"};
      (function() {
          var ds = document.createElement('script');
          ds.type = 'text/javascript';ds.async = true;
          ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.unstable.js';
          ds.charset = 'UTF-8';
          (document.getElementsByTagName('head')[0]
           || document.getElementsByTagName('body')[0]).appendChild(ds);
      })();
