.author.wrap
  .meta.row
    .large-12.columns
      %h3= @author.name.html_safe
      = image_tag(@author.gravatar_url(:rating => 'R', :secure => true, :size => 80))
      %p
        %span.label.secondary 邮箱
        %small= @author.email
      %p
        %span.label.secondary 创建于
        %small= @author.created_at.getlocal.strftime("%y-%m-%d %H:%M")
      %p
        %span.label.secondary 上次更新于
        %small= @author.updated_at.getlocal.strftime("%y-%m-%d %H:%M")
  .articles.row.wrap
    .large-12.columns
      %h3
        = '发表的文章'
        %small= '共'
        %small= @author.articles.count
        %small= '篇'

      %hr
      %ul.large-block-grid-4
        - @author.articles.order("updated_at DESC").each do |article|
          %li
            = link_to article_path(article.id) do
              %h5= article.name.html_safe
              .body
                = truncate(article.body, length: 100, escape: false)
  .comment.row
    .large-12.columns
      .ds-thread{:'data-thread-key' => '', :'data-title' => '', :'data-url' => ''}

- content_for :title do
  = @author.name

:javascript
  var duoshuoQuery = {short_name:"wendycan"};
      (function() {
          var ds = document.createElement('script');
          ds.type = 'text/javascript';ds.async = true;
          ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.unstable.js';
          ds.charset = 'UTF-8';
          (document.getElementsByTagName('head')[0]
           || document.getElementsByTagName('body')[0]).appendChild(ds);
      })();
