= content_for :title, '阅台 · 记录想法 分享点滴'
= render "layouts/user_sidebar"

.author-articles.articles-wrap
  #y-articles.articles
    .loading
      %i.fa.fa-spinner.fa-spin

  = render "layouts/pager"

= render "layouts/article"

- blogs_json = render template: "users/show", formats: [:json], handlers: [:jbuilder]

= content_for :js_ext do
  :javascript
    $(document).ready(function () {
      var blogs_view = new Yuetai.Views.Blogs.BlogsView(#{blogs_json});
    });
    $('.articles-btn').addClass('active');
    $('#user-word-count').text(formatNumberByTenThousand($('#user-word-count').text()))
