<div class="wrap">
  <div class="row">
    <div class="large-8 large-centered columns">
      <h3>重置密码</h3>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="large-8 large-centered columns">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.hidden_field :reset_password_token %>
        <div class="field">
          <%= f.label :password, "新密码" %><br />
          <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, "确认新密码" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="actions">
          <%= f.submit "确认", 'class' => 'button tiny' %>
          &nbsp;
          <%= link_to "登录", new_session_path(resource_name) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
