<div class="wrap">
  <div class="row">
    <div class="large-8 large-centered columns">
      <h3>登录</h3>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="large-8 large-centered columns">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email, '邮箱' %>
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :password, '密码' %>
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "登录", 'class' => 'button tiny' %>
           &nbsp;
          <%= link_to "忘记密码?", new_password_path(resource_name) %>
         </div>
      <% end %>
    </div>
  </div>
</div>
