.home
  .row
    .large-1.columns.sidebar
      %ul.side-nav
        %li
          %a{:href => '/site/home'}
            阅台
        %li
          %a{:href => '#articles'}
            博客
        %li
          %a{:href => '#books'}
            书摘
        %li
          %a{:href => '#authors'}
            作者
        %li
          %a{:href => '#search'}
            搜索
    .large-11.columns
      #main-content
= content_for :js_ext do
  :javascript
    // var engines_view = new TinySou.Views.Engines.EnginesView()
    $(document).ready(function () {
      var router = new Yuetai.Routers.Engines();
      Backbone.history.start();
    })

  = render 'books/index'
  = render 'books/show'
  = render 'nodes/index'
  = render 'nodes/show'
  = render 'articles/index'
  = render 'articles/show'
  = render 'authors/index'
  = render 'authors/show'
