#main-content
  = content_for :js_ext do
    :javascript
      // var engines_view = new TinySou.Views.Engines.EnginesView()
      $(document).ready(function () {
        var router = new Yuetai.Routers.Engines();
        Backbone.history.start();
      })

    = render 'site/index'
    = render 'books/index'
    = render 'books/show'
    = render 'nodes/index'
    = render 'nodes/show'
    = render 'articles/index'
    = render 'articles/show'
    = render 'authors/index'
    = render 'authors/show'
