.home
  .page-1
    .row
      .large-12.columns.wrap
        .header-nav.show-for-small-only
          %ul
            %li.logo.text-right
              %a{:href => "/"}
                %h2.white 阅台
            %li.text-center
              %a.white{:href => "/articles"} 博客
            -# %li.text-center
            -#   %a.white{:href => "#"} 系列
            %li.text-center
              %a.white{:href => "/presentation"} 演示文稿
        .header-nav.show-for-medium-up
          %ul
            %li.logo.text-right
              %a{:href => "/"}
                %h2.white 阅台
            %li.text-center
              %a.white{:href => "/articles"} 博客
            -# %li.text-center
            -#   %a.white{:href => "#"} 系列
            %li.text-center
              %a.white{:href => "/presentation"} 演示文稿
        %br
        %br
        .text-center
          = image_tag 'logo.png'
        .header-intro.show-for-large-only
          %span.spacer
          %h3.white 记录，分享
          %span.spacer
        %br
        %h2.white.text-center 阅台
        %p.white.text-center 记录想法， 分享点滴
        %br
        .row
          .large-6.columns.large-centered.medium-10.medium-centered
            .row
              .large-6.medium-6.columns
                %a.button.full.black-bg.radius{:href => "/users/sign_up"} 注册
              .large-6.medium-6.columns
                %a.button.full.none-bg.radius{:href => "/users/sign_in"} 登录
  .page-2
    .row
      .large-12.columns.wrap.text-center
        %h3 阅台为技术而作
        %br
        %br
        %p
          一个开源的分享平台。
          %br
          你可以在这里创建文章，包括博客，系列和演示文稿。
          %br
          你可以将 kindle 中的学习笔记同步到笔记书。
          %br
          你只需要注册一个账号。
        %a.button.entry.radius{href: '/articles'}
          %i.fa.fa-arrow-right
          &nbsp;
          进入
  .page-3
    .row
      .large-12.columns.wrap.text-center
        %h3.white 功能介绍
        %br
        %br
        %ul.large-block-grid-3.medium-block-grid-3.small-block-grid-1
          %li.box
            %h4.white 博客
            %p.white 你可以创建博客，支持 markdown 和 html 两种格式的编辑。
            = image_tag 'features-blog.png'
          %li.box
            %h4.white 系列
            %p.white 你可以创建一个系列，例如 Javascript 教程，系列会把零散的博客组织起来。
            = image_tag 'features-series.png'
          %li.box
            %h4.white 演示文稿
            %p.white 你可以创建演示文稿，并添加 page，保存后，可以看到 web 版的 PPT。
            = image_tag 'features-presentation.png'
  .page-4
    .row
      .large-12.columns.wrap.text-center
        %h3 创作人员
        %br
        %br
        %ul.large-block-grid-2.medium-block-grid-2.small-block-grid-1
          %li.person
            .row.collapse
              .large-4.small-3.columns
                = image_tag 'me.png'
              .large-8.small-9.columns
                %p Wendy,可爱萌妹。
                %p 阅台全栈开发，并长期供稿。
          %li.person
            .row.collapse
              .large-4.small-3.columns
                = image_tag 'roman.png'
              .large-8.small-9.columns
                %p Roman,帅气小伙。
                %p 阅台产品设计，并长期供稿。
          %li.person
            .row.collapse
              .large-4.small-3.columns
                = image_tag 'linda.png'
              .large-8.small-9.columns
                %p Linda,邻家小妹。
                %p 阅台前端开发，并长期供稿。
          %li.person
            .row.collapse
              .large-4.small-3.columns
                = image_tag 'hardery.png'
              .large-8.small-9.columns
                %p hardery,惨绿少年
                %p 阅台产品使用，并长期供稿。
  .page-5
    .row
      .large-12.columns.wrap.text-center
        / %h3.white 随便看看
        / %br
        / .row
        /   .large-2.columns.large-centered.medium-3.medium-centered.small-6.small-centered
        /     %a.button.full.none-bg.radius{href: '/site/random'}
        /       %i.fa.fa-magic.fa-lg
        /       &nbsp;
        /       GO
        / %br
        / %br
        / %br
        %h3.white 加入我们
        %br
        .row
          .large-8.columns.large-centered.medium-10.medium-centered
            .row
              .large-6.medium-6.columns
                %a.button.git.full.black-bg.radius{href: 'https://github.com/wendycan/yuetai.larklearning.com', target: '_blank'}
                  %i.fa.fa-github
                  GitHub
              .large-6.medium-6.columns
                %a.button.email.full.none-bg.radius{href: 'mailto:yuetai@larklearning.com'}
                  %i.fa.fa-envelope-o
                  yuetai@larklearning.com
  .page-6.footer.hide-for-small-only
    .row.wrap
      .large-5.columns.large-centered.medium-5.medium-centered
        .row
          .large-6.columns.small-12.medium-6
            %h4.white 关于
            %p.text-left
              %a{:href => "/articles"} 博客
            %p.text-left
              %a{:href => "/articles"} 演示文稿
          .large-6.columns.small-12.medium-6
            %h4.white 友情链接
            %p.text-left
              %a{:href => "http://wendy.larklearning.com", target: '_blank'} wendy
            %p.text-left
              %a{:href => "http://daodao.larklearning.com", target: '_blank'} 刀刀故事
            %p.text-left
              %a{:href => "http://history.larklearning.com", target: '_blank'} wendy 故事
