%meta{ :charset => "utf-8" }/

-# Uncomment to make IE8 render like IE7
-# meta http-equiv="X-UA-Compatible" content="IE=7"

-# Set the viewport width to device width for mobile
%meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }

%title= content_for?(:title) ? yield(:title) : "阅台"

= stylesheet_link_tag "application"
= javascript_include_tag "application"
= javascript_include_tag "vendor/modernizr"
= csrf_meta_tag
/ %script{type: 'text/javascript', src:  "http://yuetai.wendycan.org/tinysou-no-jq.min.js"}
%script{type: 'text/javascript', src: "http://wendycan.org/tinysou-no-jq.min.js"}
<link type='text/css' rel='stylesheet' href="http://wendycan.org/tinysou.min.css" media='all' />
