.show-for-medium-up
  %nav.top-bar{:'data-topbar' => true}
    %ul.title-area
      %li.name
        %h1
          = link_to '/' do
            = image_tag("logo.png")
    %section.top-bar-section
      %ul.right
        %li.articles-btn
          = link_to articles_path do
            = image_tag 'blog.png'
            = "博客"
        / %li
        /   = link_to series_index_path do
        /     = "系列"
        %li.presentation-btn
          = link_to presentation_index_path do
            = image_tag 'presentation.png'
            = "演示"
        %li.has-dropdown
          = link_to new_user_session_path do
            - if user_signed_in?
              = current_user.email
            - else
              登录
          %ul.dropdown
            - if user_signed_in?
              %li
                %a{:href => "/dashboard/index"} 控制台
              %li
                %a{:href => "/site/random"} 
                  %i.fa.fa-support 
                  随便看看
              %li
                = link_to '登出', destroy_user_session_path, :method => 'delete', data: { confirm: '确定登出？'}
            - else
              %li
                %a{:href => "/site/random"}
                  %i.fa.fa-support  
                  随便看看
              %li
                = link_to new_user_registration_path do   
                  %i.fa.fa-user 
                  注册
              %li
                = link_to '#' do
                  %i.fa.fa-paper-plane
                  关于
                
