.sidebar.pull-left.hide-for-small-only
  .author-summary
    = link_to @user do
      = image_tag @user.avator
    %h5
      = link_to @user do
        - if @user.username.blank?
          匿名
        - else
          = @user.username
    .author-count
      %p
        = link_to @user do
          文章
          %strong= @user.articles.length
          篇
      %p
        = link_to user_notebooks_path(user_id: @user.id) do
          笔记书
          %strong= @user.notebooks.length
          本
      %p.words-count
        %span
          总
          %strong#user-word-count= @user.words_count
          字
    %p= @user.desc
    .author-links
      = mail_to @user.email do
        %i.fa.fa-envelope
      = link_to @user.github do
        %i.fa.fa-github
      %a.author-webchat{:href => 'javascript:;'}
        %i.fa.fa-weixin
        = image_tag(@user.webchat)
