!!!5
%head
  = render :partial => 'layouts/head'
%body
  .off-canvas-wrap{:'data-offcanvas' => true}
    = render :partial => "layouts/nav"
    .inner-wrap
      = render :partial => "layouts/small_nav"
      = if !notice.nil?
        %p.notice= notice
      = if !alert.nil?
        %p.alert= alert

      = yield
      = render :partial => 'layouts/footer'
      %a.exit-off-canvas
  = content_for?(:js) ? yield(:js) : render('layouts/js')
