!!!5
%head
  = render :partial => 'layouts/head'
%body
  .row
    .large-1.columns.sidebar
      %ul.side-nav
        %li.index
          %a{:href => '#'}
            = image_tag 'logo-white.png'
            %span 阅台
        %li.articles
          %a{:href => '#articles'}
            = image_tag 'blog-white.png'
            %h5 博客
        %li.books
          %a{:href => '#books'}
            = image_tag 'book-white.png'
            %h5 书摘
        %li.authors
          %a{:href => '#authors'}
            = image_tag 'author-white.png'
            %h5 作者
        %li.search
          %a{:href => '#search'}
            %form
              %input.ts-search-input{type: 'text', id: 'ts-search-input'}
    .large-11.columns
      = if !notice.nil?
        %p.notice= notice
      = if !alert.nil?
        %p.alert= alert
      .not-footer
        = yield
      .footer
        = render :partial => 'layouts/footer'
  = content_for?(:js) ? yield(:js) : render('layouts/js')
